<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"
          ><i class="fas fa-users"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">All messages</span>
          <span class="info-box-number">
            <%= messages.length %>
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"
          ><i class="fas fa-thumbs-up"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">Sent messasges</span>
          <span class="info-box-number" id="sent-messages"
            ><%= messages.filter(msg => msg.stats == "sent").length
            %></span
          >
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->

    <!-- fix for small devices only -->
    <div class="clearfix hidden-md-up"></div>

    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"
          ><i class="fas fa-forward"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">Skipped numbers</span>
          <span class="info-box-number" id="skipped"
            ><%= messages.filter(msg => msg.stats == "skipped").length
            %></span
          >
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
      <div class="info-box mb-3">
        <span class="info-box-icon bg-warning elevation-1"
          ><i class="fas fa-cog"></i
        ></span>

        <div class="info-box-content">
          <span class="info-box-text">Pending messages</span>
          <span class="info-box-number" id="pending"
            ><%= messages.filter(msg => msg.stats == "pending").length
            %></span
          >
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
  </div>